/* Estilo general del cuerpo */
body {
  background-color:#3e3e99 ;
  font-family: 'Segoe UI', sans-serif;
  margin: 40px;
}

/* Estilo para el título */
h1 {
  color: white;
  font-size: 42px;
  text-align: center;
  font-weight: bold;
}

/* Estilo general para los párrafos */
p {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
}

/* Estilo especial con borde y fondo */
.especial {
  background-color:#c771d6;
  border: 4px solid white;
  padding: 15px;
  border-radius: 10px;
  width: 60%;
  margin: 20px auto;
}
